[submodule ".registry"]
	path = .registry
	url = https://github.com/code-neuro/code-neuro.r-universe.dev
	branch = HEAD
[submodule "ptestR"]
	path = ptestR
	url = https://github.com/CoDe-Neuro/ptestR
	branch = v0.1.0
[submodule "stateR"]
	path = stateR
	url = https://github.com/CoDe-Neuro/stateR
	branch = v0.1.0
